{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block titulo %}
<title>RAMAIS - ADMIN</title>
{% endblock %}

{% block conteudo %}
<div class="container">
  <h4 class="text-end"><a href="{% url 'cadastro' %}"><button type="button" class="btn botao btn-outline-primary btn-lg ">CADASTRAR USUÁRIO</button></a></h4>
  <form method="get">
    <div class="row">
      <div class="col-md-1">
        
      </div>
    <div class="col-md-4 col-12">
      <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Nome:</label>
    </div>
    <div class="col-auto">
      {% render_field filtro.form.nome class="form-control"%}
    </div>
  </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Setor:</label>
    </div>
    <div class="col-auto">
      {% render_field filtro.form.setor class="form-control"%} 
    </div>
  </div>
    </div>
    <div class="col-md-3 col-12">
    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i> pesquisar</button>
  </div>
  </div>
</form>
<br>
  {% for pessoa in filtro.qs %}
  
  <div class="row ramal">
    <div class="col-12 col-sm-5 col-md-2 foto">
      <img class="img-fluid img-thumbnail" src="/media/{{pessoa.foto}}">
    </div>
    <div class="col-12 col-sm-6 col-md-8 texto">
      <p>Nome: {{pessoa.nome}}</p>
      <p>Setor: {{pessoa.setor}}</p>
      <p>Cargo: {{pessoa.cargo}}</p>
      <p>Matrícula: {{pessoa.matricula}}</p>
      <p>Centro de Custo: {{pessoa.cc}}</p>
      <p>Ramal: <small class="numero">{{pessoa.ramal}}</small></p>
    </div>
    <div class="col-12 col-1 col-md-2 botoes">
    <a href="{% url 'atualizar' pessoa.id %}"><button type="button" class="btn botao btn-outline-success">EDITAR</button></a>
      <button type="button" class="btn botao btn-outline-danger" data-bs-toggle="modal" data-bs-target="#apagar-{{pessoa.id}}">
  APAGAR
</button>
<!-- Modal -->
<div class="modal fade" id="apagar-{{pessoa.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">APAGAR</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja apagar <b>{{pessoa.nome}}</b> para sempre?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NÃO</button>
        <a href="{% url 'deletar' pessoa.id %}"><button type="button" class="btn btn-primary">SIM</button></a>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
  {% endfor %}


</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
{% endblock %}