<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block titulo %}
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/js/bootstrap.bundle.min.js">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/estilo.css">
	<style type="text/css">
		p.tecnologia {
			color: white;
			margin-top: -20px;
			font-size: 13px;
		}
	</style>
</head>
<body>
	<div class="container" style="background-color: #1c4049;">
		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'inicial' %}">
					<img src="{% static 'imagens/estiva.png' %}" alt="" width="150" height="60" class="d-inline-block align-text-top">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class=" link-light nav-link" aria-current="page" href="{% url 'inicial' %}">Lista de colaboradores</a>
        <!--
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a> -->
    </div>
</div>
</div>
</nav>
<p class="float-end tecnologia"> By: Tecnologia da Informação</p>
</div>
<br>
{% block conteudo %}
{% endblock %}
</body>
</html>