{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block titulo %}
<title>Administrar Ramal</title>
{% endblock %}

{% block conteudo %}
<div class="container">
	<div class="row">
		<div class="col-md-12 col-12">
			<h1 class="text-center">Administração</h1>
		</div>
	</div>
	<br>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-4 col-12">
			<div class="row g-3 align-items-center">
		<div class="col-auto">
			<label for="inputPassword6" class="col-form-label">Nome:</label>
		</div>
		<div class="col-auto">
			{% render_field formulario.nome class="form-control"%} 
		</div>
	</div>
		</div>
		<div class="col-md-4 col-12">
			<div class="row g-3 align-items-center">
		<div class="col-auto">
			<label for="inputPassword6" class="col-form-label">Setor:</label>
		</div>
		<div class="col-auto">
			{% render_field formulario.setor class="form-control"%} 
		</div>
	</div>
		</div>
		<div class="col-md-4 col-12">
			<div class="row g-3 align-items-center">
		<div class="col-auto">
			<label for="inputPassword6" class="col-form-label">Cargo:</label>
		</div>
		<div class="col-auto">
			{% render_field formulario.cargo class="form-control"%} 
		</div>
	</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4 col-12">
			<div class="row g-3 align-items-center">
		<div class="col-auto">
			<label for="inputPassword6" class="col-form-label">Matrícula:</label>
		</div>
		<div class="col-auto">
			{% render_field formulario.matricula class="form-control"%} 
		</div>
	</div>
		</div>
		<div class="col-md-4 col-12">
			<div class="row g-3 align-items-center">
		<div class="col-auto">
			<label for="inputPassword6" class="col-form-label">Centro de Custo:</label>
		</div>
		<div class="col-auto">
			{% render_field formulario.cc class="form-control"%} 
		</div>
	</div>
		</div>
		<div class="col-md-4 col-12">
			<div class="row g-3 align-items-center">
		<div class="col-auto">
			<label for="inputPassword6" class="col-form-label">Ramal:</label>
		</div>
		<div class="col-auto">
			{% render_field formulario.ramal class="form-control"%} 
		</div>
	</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-4 col-12">
			<div class="row g-3 align-items-center">
		<div class="col-auto">
			<label for="inputPassword6" class="col-form-label">Foto:</label>
		</div>
		<div class="col-auto">
			{% render_field formulario.foto class="form-control"%} 
		</div>
	</div>
		</div>
	</div>
	<br>
	<button type="submit" class="btn btn-outline-success">Salvar</button>
</form>
</div>
{% endblock %}