{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block titulo %}
<title>RAMAIS</title>
{% endblock %}

{% block conteudo %}
<div class="container">
  <form method="get" action="ramais/?nome=&setor=">
    <div class="row">
      <div class="col-md-1">
        
      </div>
    <div class="col-md-4 col-12">
      <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Nome:</label>
    </div>
    <div class="col-auto">
      {% render_field filtro.form.nome class="form-control"%}
    </div>
  </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Setor:</label>
    </div>
    <div class="col-auto">
      {% render_field filtro.form.setor class="form-control"%} 
    </div>
  </div>
    </div>
    <div class="col-md-3 col-12">
    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i> pesquisar</button>
  </div>
  </div>
</form>
<br>
</div>
{% endblock %}