{% extends "base.html" %}
% load static %}
{% load widget_tweaks %}

{% block titulo %}
<title>Página Inicial</title>
{% endblock %}

{% block conteudo %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<h3>Últimas Adicionadas</h3>
		</div>
	</div>
	{% for noticia in noticias %}
	<div class="row">
		<div class="col-md-3 col-4 imagem">
			<a href="{% url 'noticiaespecifica' noticia.id %}" class="noticia-link" elevateZoom>
				<img class="img-fluid img-thumbnail" src="/media/{{noticia.imagem}}">
			</a>
		</div>
		<div class="col-md-5 col-8 noticia">
			<small>{{noticia.datahora}}</small>
			<a href="{% url 'noticiaespecifica' noticia.id %}" class="noticia-link">
				<h4>{{noticia.titulo}}</h4>
				<h5>{{noticia.subtitulo}}</h5>
				<small class="">Clique para saber mais</small>
			</a>
		</div>
		{% if forloop.first %}
		<div class="col-md-4">
			<h3>Aniversariantes do dia:</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Cargo</th>
					</tr>
				</thead>
				<tbody>
					{% for aniversariante in aniversariantes %}
					<tr>
						<td>{{aniversariante.nome}}</td>
						<td>{{aniversariante.cargo}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif%}

		{% if forloop.counter == 2 %}
		<div class="col-md-4">
			<h3>Noticias em foco</h3>
		</div>
		{% endif%}

		{% if forloop.counter == 3 %}
		<div class="col-md-4">
			<h3>Saiba mais</h3>
		</div>
		{% endif%}
	</div>
	<br>
	{% endfor %}
</div>
{% endblock %}