{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block titulo %}
<title>RAMAIS</title>
{% endblock %}

{% block conteudo %}
{% load my_tags %}
<div class="container">
  <form method="get" action="?nome=&setor=">
    <div class="row">
      <div class="col-md-1">
        
      </div>
    <div class="col-md-4 col-12">
      <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Nome:</label>
    </div>
    <div class="col-auto">
      {% render_field filtro.form.nome class="form-control"%}
    </div>
  </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Setor:</label>
    </div>
    <div class="col-auto">
      {% render_field filtro.form.setor class="form-control"%} 
    </div>
  </div>
    </div>
    <div class="col-md-3 col-12">
    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
  </div>
  </div>
</form>
<br>
  {% for pessoa in contacts %}
  <div class="row ramal">
    <div class="col-12 col-sm-6 col-md-2 foto">
      <img class="img-fluid img-thumbnail" src="/media/{{pessoa.foto}}">
    </div>
    <div class="col-12 col-sm-6 col-md-10 texto">
      <td>
      <p> <b>Nome:</b> {{pessoa.nome}}</p>
      <p> <b>Setor:</b> {{pessoa.setor}}</p>
      <p> <b>Cargo:</b> {{pessoa.cargo}}</p>
      <p> <b>Matrícula:</b> {{pessoa.matricula}}</p>
      <p style="display: inline;"> <b>Email:</b> <p style="text-transform: lowercase; display: inline;">{{pessoa.email}}</p></p>
      <p> <b>Centro de Custo:</b> {{pessoa.cc}}</p>
      <p> <b>Ramal:</b> <small class="numero">{{pessoa.ramal}}</small></p>
    </td>
    </div>
  </div>
  {% endfor %}
  <br>
   <div class="row">
      <div class="col-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if contacts.has_previous %}
            <li class="page-item"><a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">Mais novos</a></li>
            <li class="page-item"><a class="page-link" href="{% my_url contacts.previous_page_number 'page' request.GET.urlencode %}">Anterior</a></li>
            {% endif %}

            {% if contacts.has_next %}
            <li class="page-item"><a class="page-link" href="{% my_url contacts.next_page_number 'page' request.GET.urlencode %}">Próximo</a></li>
            <li class="page-item"><a class="page-link" href="{% my_url contacts.paginator.num_pages 'page' request.GET.urlencode %}">Mais antigos</a></li>
            {% endif %}
          </ul>
        </nav>
        <span class="current">
          Página {{ contacts.number }} de {{ contacts.paginator.num_pages }}.
        </span>
      </div>
    </div>
</div>
{% endblock %}