{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block titulo %}
<title>RAMAIS</title>
{% endblock %}

{% block conteudo %}
<div class="container">
  <h1 class="text-center">Lista de Colaboradores</h1>
  <br>
  <form method="get">
    <div class="row">
      <div class="col-md-1">
        
      </div>
    <div class="col-md-4 col-12">
      <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Nome:</label>
    </div>
    <div class="col-auto">
      {% render_field filtro.form.nome class="form-control"%}
    </div>
  </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Setor:</label>
    </div>
    <div class="col-auto">
      {% render_field filtro.form.setor class="form-control"%} 
    </div>
  </div>
    </div>
    <div class="col-md-3 col-12">
    <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i> pesquisar</button>
  </div>
  </div>
</form>
<br>
  {% for pessoa in filtro.qs %}
  <div class="row ramal">
    <div class="col-12 col-sm-6 col-md-2 foto">
      <img class="img-fluid img-thumbnail" src="/media/{{pessoa.foto}}">
    </div>
    <div class="col-12 col-sm-6 col-md-10 texto">
      <td>
      <p>Nome: {{pessoa.nome}}</p>
      <p>Setor: {{pessoa.setor}}</p>
      <p>Cargo: {{pessoa.cargo}}</p>
      <p>Matrícula: {{pessoa.matricula}}</p>
      <p>Centro de Custo: {{pessoa.cc}}</p>
      <p>Ramal: <small class="numero">{{pessoa.ramal}}</small></p>
    </td>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}